body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100vw;
}

.header {
    top: 0;
    background-color: #ECF1FF;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px 2px;
    gap: 24px;
    position: sticky; top: 0;
}

.header a{
    text-decoration: none;
    color: #1457FE;
}

.right-links {
    display: flex;
    gap: 24px;
}

.link, .logo {
    border-radius: 12px;
    transition-duration: 0.3s;
}

.link:hover, .logo:hover {
    color: #FF4D4D;
}

.head {
    font-size: 24px;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

img {
    align-self: baseline;
}

.about-container {
    width: 100vw;
    height: 100vh;
    gap: 10px;
    align-items: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.one {
    background-color: #FFFFEA;
    display: flex;
    align-content: space-between;
    gap: 40px;
    padding: 10px 10px;
}

.two {
    background-color: #A4DEFF;
}

.name {
    color: #FF4D4D ;
}

.role {
    color: #1FC2FF;
}

.desc {
    color: #1457FE;
}

.tech {
    font-size: 20px;
}

.grad {
    width: 300px;
    align-self: baseline;
    height: auto;
}

.cv {
    background-color: #ECF1FF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 6px;
    margin-left: 20px;
    border-radius: 12px;
    border-color: #1457FE;
    transition-duration: 0.3s;
}

.cv:hover {
    background-color: #FF4D4D;
  }

#resume{
    text-decoration: none;
    color: #1457FE;
}

#resume:hover{
    color: white;
}

@media only screen and (min-width: 768px) {

    .wrapper {
        width: 768px;
    }

    .header {
        width: 100vw;
        justify-content: center;
        padding: 8px 20px;
    } 

    .right-links {
        gap: 24px;
    }

    .about-container {
        width: 100vw;
        justify-content: center;
    }

    .one {
        padding: 20px 30px;
    }

    .grad {
        width: 400px;
        height: auto;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 100vw;
    }

    .header {
        padding: 4px;
    } 

    .about-container {
        width: 100vw;
        height: 100vh;
        gap: 10px;
    }

    .one {
        padding: 40px 40px;
    }

    .grad {
        width: 600px;
        height: auto;
    }
}