body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100vw;
}

.header {
    width: 100vw;
    top: 0;
    background-color: #ECF1FF;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px 2px;
    gap: 24px;
    position:sticky relative;
}

.header a{
    text-decoration: none;
    color: #1457FE;
}

.right-links {
    display: flex;
    gap: 24px;
}

.link, .logo {
    border-radius: 12px;
    transition-duration: 0.3s;
}

.link:hover, .logo:hover, .btn:hover {
    color: #FF4D4D;
}

.head {
    font-size: 24px;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.about-container {
    width: 100vw;
    height: 100vh;
    gap: 10px;
    align-items: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.my-name {
    margin: 4px 2px;
}

.my-role {
    margin-top: 0px;
    font-size: 16px;
}

.one {
    background-color: #FFFFEA;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
    padding: 10px 4px;
}

.intro {
    padding: 0px 6px;
}

.name {
    color: #FF4D4D ;
}

.role {
    color: #1FC2FF;
}

.desc {
    color: #1457FE;
}

.tech {
    font-size: 14px;
}

.about-title {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 2px;
}

.about-me {
    margin-top: 2px;
}

.grad {
    width: 45%;
    align-self: center;
    height: auto;
}

.grad-img {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #ECF1FF;
    color: #1457FE;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 12px;
    border-color: #1457FE;
    transition-duration: 0.3s;
}

.cv {
    margin-left: 20px;
}

#resume{
    text-decoration: none;
    color: #1457FE;
}

#resume:hover{
    color: white;
}

.two {
    background-color: #ECF1FF;
    padding: 6px 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}

.proj-wrap {
    display: flex;
    flex-wrap: wrap;
}

.proj-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px 14px;
}

.proj-card {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    background-color: none;
}

.proj-cont {
    margin: 4px 4px;
    padding: 6px 6px;
    width: 100%;
    height: 30%;
    padding-top: 2px;
}

.proj-cont:hover {
    background-color: #f1f5ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.proj-desc {
    margin: 2px;
}

.three {
    background-color: #FFFFEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    gap: 75px;
}

.contact-head {
    font-size: 36px;
}

.contact-text {
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    border-width: 10px;
    margin: 0px;
    color: #ECF1FF;
    margin-right: 90px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    margin: 0;
    font-size: 24px;
}

.form {
    width: 80vw;
    font-family: 'Poppins', sans-serif;
}

textarea {
    width: 80vw;
    height: 200px;
    font-family: 'Poppins', sans-serif;
}

#submit {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    width: 110px;
}

.contact-btn {
    margin-top: 6px;
}

@media screen and (max-width: 540px) {
    .grad-img {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    .wrapper {
        width: 768px;
    }

    .header {
        padding: 8px 20px;
    } 

    .right-links {
        gap: 24px;
    }

    .about-container {
        width: 100vw;
        justify-content: center;
    }

    .tech {
        font-size: 20px;
    }

    .one {
        padding: 20px 30px;
        gap: 20px;
        align-items: center;
        flex-direction: row;
    }

    .grad {
        width: 400px;
        height: auto;
    }

    .two {
        align-content: start;
    }

    .proj-me {
        font-size: 18px;
    }

    .proj-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 14px;
    }

    .proj-card {
        font-size: 24px;
    }
    
    .proj-cont {
        width: 45%;
        height: 150%;
    }

    .proj-desc {
        font-size: 18px;
    }

    .three {
        padding-left: 45px;
    }
    
    textarea {
        height: 40vh;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 100vw;
    }

    .header {
        padding: 4px;
    } 

    .about-container {
        width: 100%;
        gap: 10px;
    }

    .my-name {
        font-size: 30px;
    }
    
    .my-role {
        font-size: 22px;
    }

    .about-title {
        font-size: 22px;
        padding-top: 8px;
        padding-bottom: 2px;
    }
    
    .about-me {
        margin-top: 2px;
    }

    .one {
        padding: 40px 20px;
    }

    .two {
        padding: 0px 60px;
    }

    .grad {
        width: 500px;
        height: auto;
    }

    .btn {
        padding: 6px 18px;
    }
}