body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100vw;
}

.header {
    top: 0;
    background-color: #ECF1FF;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px 2px;
    gap: 24px;
}

.header a{
    text-decoration: none;
    color: #1457FE;
}

.right-links {
    display: flex;
    gap: 24px;
}

.link, .logo {
    border-radius: 12px;
    transition-duration: 0.3s;
}

.link:hover, .logo:hover {
    color: #FF4D4D;
}

.head {
    font-size: 24px;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.about-container {
    width: 100vw;
    height: 100vh;
    gap: 10px;
    align-items: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.one {
    height: 90vh;
    background-color: #FFFFEA;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
    padding: 10px 10px;
}

.name {
    color: #FF4D4D ;
}

.role {
    color: #1FC2FF;
}

.desc {
    color: #1457FE;
}

.tech {
    font-size: 20px;
}

.grad {
    width: 220px;
    align-self: center;
    height: auto;
}

.cv {
    background-color: #ECF1FF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 2px 6px;
    margin-left: 20px;
    border-radius: 12px;
    border-color: #1457FE;
    transition-duration: 0.3s;
}

.cv:hover {
    background-color: #FF4D4D;
  }

#resume{
    text-decoration: none;
    color: #1457FE;
}

#resume:hover{
    color: white;
}

.two {
    background-color: #ECF1FF;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}

.proj {
    color: black;
    background-color: #FFFFEA;
    text-decoration: none;
    border-radius: 60px;
    padding: 50px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.three {
    background-color: #f7ffa4;
}

.four {
    background-color: #fca4ff;
}

.five {
    background-color: #b5ffa4;
}

.proj-img {
    display: none;
}

/* @media screen and (max-width:414px) {
    .proj-img {
        display: none;
    }
} */

@media only screen and (min-width: 768px) {

    .wrapper {
        width: 768px;
    }

    .header {
        width: 100vw;
        justify-content: center;
        padding: 8px 20px;
    } 

    .right-links {
        gap: 24px;
    }

    .about-container {
        width: 100vw;
        justify-content: center;
    }

    .one {
        padding: 20px 30px;
        gap: 20px;
        align-items: center;
        flex-direction: row;
    }

    .grad {
        width: 400px;
        height: auto;
    }

    .two {
        justify-content: center;
        gap: 30px;
        padding: 50px 90px;
    }

    .proj {
        padding: 100px 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 100vw;
    }

    .header {
        padding: 4px;
    } 

    .about-container {
        width: 100vw;
        height: 100vh;
        gap: 10px;
    }

    .one {
        padding: 40px 40px;
    }

    .grad {
        width: 600px;
        height: auto;
    }
}